@import url("https://fonts.cdnfonts.com/css/salutino");
@import url("https://fonts.cdnfonts.com/css/kid-games");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  #hero {
    background: url(./assets/heroBg.png) center center no-repeat;
    background-size: 100% 100%;
  }
  #mics {
    background: url(./assets/token.png) center center no-repeat;
    background-size: 100% 100%;
  }
}

canvas {
  overflow-y: scroll;
}